.vbox_style {
    -fx-border-color: green;
    -fx-border-insets: 5;
    -fx-border-width: 1;
    -fx-border-style: solid;
 }

 .vbox_style:hover {
     -fx-border-color: green;
     -fx-border-insets: 5;
     -fx-border-width: 1;
     -fx-border-style: dashed;
  }
  /* css menu*/
.btnMenu {
    -fx-background-color: #e4d4a0;
    -fx-text-fill: #0676aB;
    -fx-border-color: #a8a8a8;
    -fx-max-width: 150;
    -fx-opacity: 0.6;
}
.btnMenu:hover {
    -fx-cursor: hand;
    -fx-fill: black;
    -fx-opacity: 1;
}
.btnMenuForm {
    -fx-background-color: #e4d4a0;
    -fx-text-fill: #0676aB;
    -fx-border-color: #a8a8a8;
    -fx-max-width: 90;
    -fx-opacity: 0.6;
}
.btnMenuForm:hover {
    -fx-cursor: hand;
    -fx-fill: black;
    -fx-opacity: 1;
}
.banniere {
   -fx-opacity: 0.6;
}
.labelMenu {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-fill: #a8a8a8;
}
.textFieldMenu{
    -fx-max-width:200;
    -fx-opacity: 0.6;
}/* fin css menu*/

.box_number{
    -fx-background-color: red;
}

.lbl_box_number{
     -fx-text-fill: white;
 }

.lbl_box_prix{
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.lbl_console_text{
    -fx-text-fill: black;
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

.hoverCarteCentral:hover {
 -fx-border-color: red;
     -fx-border-insets: 5;
     -fx-border-width: 1;
     -fx-border-style: dashed;
-fx-min-width: 250;
}
