.vbox_style {
    -fx-border-color: green;
    -fx-border-insets: 5;
    -fx-border-width: 1;
    -fx-border-style: solid;
 }

 .vbox_style:hover {
     -fx-border-color: green;
     -fx-border-insets: 5;
     -fx-border-width: 1;
     -fx-border-style: dashed;
  }
.btnMenu {
    -fx-background-color: #e4d4a0;
    -fx-text-fill: #0676aB;
    -fx-border-color: #a8a8a8;
    -fx-opacity: 0.5;
    -fx-pref-width:120;
    -fx-pref-height:10;
    -fx-font-weight: bold;
}
.btnMenu:hover {
    -fx-cursor: hand;
    -fx-fill: black;
    -fx-opacity: 1;
}
.banniere {
   -fx-opacity: 0.6;
}

.box_number{
    -fx-background-color: red;
}

.lbl_box_number{
    -fx-text-fill: white;
}

.lbl_box_prix{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.hoverCarteCentral:hover {
 -fx-border-color: red;
     -fx-border-insets: 5;
     -fx-border-width: 1;
     -fx-border-style: dashed;
-fx-min-width: 250;
}
