.vbox_style {
    -fx-border-color: green;
    -fx-border-insets: 5;
    -fx-border-width: 1;
    -fx-border-style: solid;
 }

 .vbox_style:hover {
     -fx-border-color: green;
     -fx-border-insets: 5;
     -fx-border-width: 1;
     -fx-border-style: dashed;
  }
  /* css menu*/
.btnMenu {
    -fx-background-color: #e4d4a0
     linear-gradient(from 0% 93% to 0% 100%, #e4d4a0 0%, #e4d4a0 100%),
            #e4d4a0,
            #e4d4a0,
            radial-gradient(center 50% 50%, radius 100%, #e4d4a0, #e4d4a0);
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
        -fx-font-weight: bold;
        -fx-font-size: 1.1em;;
    -fx-text-fill: #0676aB;
    -fx-border-color: #a8a8a8;
    -fx-max-width: 150;
    -fx-opacity: 0.6;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
}
.btnMenu:hover {
    -fx-cursor: hand;
    fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #e4d4a0 0%, #e4d4a0 100%),
            #e4d4a0,
            #e4d4a0,
            radial-gradient(center 50% 50%, radius 100%, #e4d4a0, #e4d4a0);
}
.btnMenu:pressed {
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.btnMenu Text {
     -fx-fill: #0676aB;
     -fx-effect: dropshadow( gaussian , #0676aB , 0,0,0,2 );
}
.btnMenuForm {
    -fx-background-color: #e4d4a0;
    -fx-text-fill: #0676aB;
    -fx-border-color: #a8a8a8;
    -fx-max-width: 90;
    -fx-opacity: 0.6;
}
.btnMenuForm:hover {
    -fx-cursor: hand;
    -fx-fill: black;
    -fx-opacity: 1;
}
.banniere {
   -fx-opacity: 0.75;
}
.labelMenu {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-fill: #a8a8a8;
}
.textFieldMenu{
    -fx-max-width:200;
    -fx-opacity: 0.6;
}/* fin css menu*/

.box_number{
    -fx-background-color: red;
}

.lbl_box_number{
     -fx-text-fill: white;
 }

.lbl_box_prix{
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.lbl_console_text{
    -fx-text-fill: black;
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

.hoverCarteCentral:hover {
 -fx-border-color: red;
     -fx-border-insets: 5;
     -fx-border-width: 1;
     -fx-border-style: dashed;
-fx-min-width: 250;
}

.custom-dashed-border {
    -fx-border-color: rgba(221, 207, 150, 0.3) ;
    -fx-border-width: 11 ;

}